.khan__quote {
  width: 790px;
  margin: 0 auto 36px 0;
  text-align: left;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 auto 10px auto;
  text-align: left;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
}

.khan__quote-author-subline {
  text-align: left;
  margin: 0 auto 68px auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}
